<div class="max-w-screen-xl mx-auto text-center">
    <!-- Überschrift -->
    <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-gray-800">Urlaub in Ostfriesland</h1>
        <h2 class="text-2xl font-semibold text-gray-600">Schöne Ferienwohnung in Altharlingersiel zu vermieten</h2>
      </div>
      
      <!-- Lagebeschreibung -->
      <div class="bg-white p-6 rounded-lg shadow-lg mb-8 mx-auto max-w-4xl transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 ease-in-out">
        <h3 class="text-3xl font-semibold text-gray-800 text-center mb-4">Lage & Umgebung</h3>
        <p class="text-lg text-gray-700 text-center">
          Meine Ferienwohnung <strong>"Huus ol Diek"</strong> liegt am Ende einer kleinen Sackgasse in Altharlingersiel. Die FeWo ist ca. 76 qm groß und befindet sich in der Mitte eines Drei-Parteien-Reihenhauses.
        </p>
        <p class="text-lg text-gray-700 text-center mt-4">
          In Altharlingersiel können Sie einen erholsamen Urlaub verbringen, dennoch sind Sie schnell in Carolinensiel (4km), Neuharlingersiel (4,5km), Bensersiel (13km) oder am Meer. Größere Städte sind auch nicht weit entfernt: Esens 13km, Wittmund 15km und Jever 23km. Neben ihrem ostfriesischen Charme gibt es zahlreiche Einkaufsmöglichkeiten.
        </p>
      </div>
    <!-- Carousel -->
    <div id="custom-controls-gallery" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-96 overflow-hidden rounded-lg md:h-96">
            <!-- Item 1 -->
            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <img src="/JPEG-Bild.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="geht net 1">
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-1000 ease-in-out" data-carousel-item="active">
                <img src="/JPEG-Bild 9.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="geht net 1">
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <img src="/JPEG-Bild 8.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="geht net 1">
            </div>
            <!-- Item 4 -->
            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <img src="/JPEG-Bild 7.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="geht net 1">
            </div>
            <!-- Item 5 -->
            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <img src="/JPEG-Bild 6.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="geht net 1">
            </div>
            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <img src="/JPEG-Bild 5.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="geht net 1">
            </div>
            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <img src="/JPEG-Bild 4.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
            </div>
            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <img src="/JPEG-Bild 3.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
            </div>
            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <img src="/JPEG-Bild 2.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
            </div>
            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <img src="/IMG_5866.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
            </div>
            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <img src="/IMG_5861.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
            </div>
            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                <img src="/IMG_5859.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
            </div>
        </div>
        <div class="flex justify-center items-center pt-4">
            <button type="button" class="flex justify-center items-center me-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
                <span class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
                    <svg class="rtl:rotate-180 w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="flex justify-center items-center h-full cursor-pointer group focus:outline-none" data-carousel-next>
                <span class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
                    <svg class="rtl:rotate-180 w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
            <!-- Aussicht auf das Feld -->
            
        <!-- Ausstattung -->
        <div class="bg-white p-6 rounded-lg shadow-lg mb-8 mx-auto max-w-4xl transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 ease-in-out mt-24">
            <h3 class="text-3xl font-semibold text-gray-800 text-center mb-4">Ausstattung</h3>
            <p class="text-lg text-gray-700">
              Die Nichtraucher-Ferienwohnung in Altharlingersiel ist für Ihren Urlaub komplett eingerichtet. Im Erdgeschoss ist ein Wohnraum mit Stein-Kamin und einer kompletten Küche mit Geschirr, Herd, Kühlschrank und Geschirrspüler. Weiterhin befindet sich im Erdgeschoss der Ferienwohnung ein Gästezimmer mit einem Gemütlichen Bett und eine Dusche mit WC.
            </p>
            <p class="text-lg text-gray-700 mt-4">
              Im gemütlichen Wohnzimmer in der ersten Etage steht ein moderner Fernseher. Vom Wohnzimmer aus gelangt man in das Schlafzimmer und in die Dusche mit WC. Dort befindet sich eine Waschmaschine.
            </p>
          </div>

          <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 ease-in-out mt-12 mb-12">
          <h3 class="text-2xl font-semibold text-gray-800 mb-4">Garten & Parkplatz</h3>
          <p class="text-lg text-gray-700">
            Egal ob Sie die sonnigen Tage nutzen möchten, um im Garten zu lesen, ein Glas Wein zu genießen oder einfach nur die Ruhe und die Natur auf sich wirken zu lassen – Ihr Ferienhaus bietet Ihnen den perfekten Rückzugsort. Hier können Sie dem Alltag entfliehen und die Schönheit der Umgebung in vollen Zügen auskosten.<br><br>
            Neben dem charmanten Ferienhaus befindet sich ein geräumiger Parkplatz, der Ihnen jederzeit bequemes und sicheres Parken ermöglicht. So beginnt Ihr Urlaub schon bei der Ankunft entspannt und stressfrei.
          </p>
        </div>
      </div>
    <!-- Jumbotron Section -->
    <section class="bg-center bg-no-repeat bg-hero-pattern bg-gray-700 bg-blend-multiply mb-24">
        <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
            <br>
            <br>
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Buchen Sie nun Ihr Urlaub</h1>
            <br>
            <br>
        </div>
    </section>
    <!-- Erste Reihe Boxen nebeneinander -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-8">
        <!-- Preis & Verfügbarkeit -->
        <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 ease-in-out">
          <h3 class="text-2xl font-semibold text-gray-800 mb-4">Preise & Verfügbarkeit</h3>
          <p class="text-lg text-gray-700">
            Die Preise variieren je nach Saison und Dauer Ihres Aufenthalts.<br><br> Bitte kontaktieren Sie uns direkt für die aktuellsten Verfügbarkeiten und um von Sonderaktionen und Rabatten zu profitieren.
          </p>
        </div>
    
        <!-- Gästebewertungen -->
        <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 ease-in-out">
          <h3 class="text-2xl font-semibold text-gray-800 mb-4">Gästebewertungen</h3>
          <p class="text-lg text-gray-700">
            "Ein traumhafter Urlaub in einer perfekten Unterkunft! Die Wohnung ist sehr gemütlich und gut ausgestattet. Die Ruhe und die Aussicht auf die Felder sind einfach fantastisch. Wir kommen gerne wieder!" – Anna M.
            <br>
            "Die Lage ist ideal, um die Umgebung zu erkunden. Wir haben besonders die Nähe zum Wattenmeer und die Möglichkeit, Fahrradtouren zu unternehmen, genossen." – Peter L.
          </p>
        </div>
    
        <!-- Aktivitäten in der Umgebung -->
        <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 ease-in-out">
          <h3 class="text-2xl font-semibold text-gray-800 mb-4">Aktivitäten in der Umgebung</h3>
          <p class="text-lg text-gray-700">
            Eine Vielzahl an Freizeitaktivitäten erwartet Sie. Genießen Sie ausgedehnte Spaziergänge am Wattenmeer, machen Sie eine Boots- oder Wattwanderung oder entdecken Sie die Region bei einer Radtour. Desweiteren stöbern Sie gerne in der "Ausflugskiste" in Ihrer Unterkunft .<br><br>
          </p>
        </div>
    
      </div>
    <!-- Map Section -->
    <section class="text-gray-600 body-font relative mt-24 mb-24">
        <div class="absolute inset-0 bg-gray-300">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2362.700553064397!2d7.759681812670617!3d53.687962148992575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b67ceceb5e208f%3A0x998ce3754bfaa18a!2sAm%20Alten%20Deich%208%2C%2026427%20Neuharlingersiel!5e0!3m2!1sde!2sde!4v1722779155462!5m2!1sde!2sde" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="container mx-auto px-5 py-72 flex justify-center">
            
        </div>
    </section>
            
            
          
            <!-- Zweite Reihe Boxen vertikal unterschiedlich -->
            <div class="flex flex-col md:flex-row gap-8 mb-8">
              <!-- Angebote und Specials -->
              <div class="bg-white p-6 rounded-lg shadow-lg flex-1 transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 ease-in-out">
                <h3 class="text-2xl font-semibold text-gray-800 mb-4">Angebote & Specials</h3>
                <p class="text-lg text-gray-700">
                  Neben unseren regulären Preisen bieten wir spezielle Pakete und Rabatte für längere Aufenthalte oder Off-Season-Buchungen an. Fragen Sie nach unseren aktuellen Angeboten, um das beste Preis-Leistungs-Verhältnis für Ihren Urlaub zu erhalten.
                </p>
              </div>
          
              <!-- Ausstattung & Extras -->
              <div class="bg-white p-6 rounded-lg shadow-lg flex-1 transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 ease-in-out">
                <h3 class="text-2xl font-semibold text-gray-800 mb-4">Ausstattung & Extras</h3>
                <p class="text-lg text-gray-700">
                  Die Ferienwohnung ist vollständig ausgestattet, einschließlich einer moderne Landhausküche und komfortablen Möbeln. Auf Wunsch stellen wir Ihnen zusätzliche Extras zur Verfügung. Wir möchten sicherstellen, dass Ihr Aufenthalt so angenehm wie möglich ist.
                </p>
              </div>
            </div>
          
            <!-- Dritte Reihe Boxen nebeneinander -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
              <!-- Regionale Tipps -->
              <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 ease-in-out">
                <h3 class="text-2xl font-semibold text-gray-800 mb-4">Regionale Tipps</h3>
                <p class="text-lg text-gray-700">
                  Entdecken Sie lokale Highlights wie die traditionellen Ostfriesischen Teestuben, kleine Galerien und einzigartige Geschäfte. Die umliegenden Orte bieten zudem charmante Veranstaltungen und Feste, die Sie nicht verpassen sollten.
                </p>
              </div>
          
              <!-- Häufige Fragen -->
              <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 ease-in-out">
                <h3 class="text-2xl font-semibold text-gray-800 mb-4">Häufige Fragen</h3>
                <p class="text-lg text-gray-700">
                  Finden Sie Antworten auf häufige Fragen, wie z.B. zur Anreise, zu den Stornierungsbedingungen und zur Ausstattung der Ferienwohnung. Sollten Sie weitere Fragen haben, zögern Sie nicht, uns direkt zu kontaktieren.
                </p>
              </div>
            </div>